<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187231038658-017pu4s411btdkvf7o2u2gphoterle3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187231038658-017pu4s411btdkvf7o2u2gphoterle3a</string>
	<key>API_KEY</key>
	<string>AIzaSyCzlYYZt-SPc9WKKxRfJC00TPo2Iz-TbDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>187231038658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FLT.KnowledgeTrees</string>
	<key>PROJECT_ID</key>
	<string>knowledgetree-d25fd</string>
	<key>STORAGE_BUCKET</key>
	<string>knowledgetree-d25fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187231038658:ios:7d979fbcf1aa7b04f8df5b</string>
</dict>
</plist>